@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';
@plugin '../lib/plugins/dots.mjs';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans:
    var(--font-brand), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-head:
    var(--font-head), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-prompt:
    var(--font-prompt), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-bricolage:
    var(--font-bricolage), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-ken-burns: ken-burns 1s ease-in;
  --animate-not-so-boring: not-so-boring 1.2s ease-out;
  --animate-not-so-boring-fast: not-so-boring-two 0.3s ease both;
  --animate-shimmer-button: 1.5s shimmer-button ease-in-out;
  --animate-scale-in: scaleIn 200ms ease;
  --animate-scale-out: scaleOut 200ms ease;
  --animate-fade-in: fadeIn 200ms ease;
  --animate-fade-out: fadeOut 200ms ease;
  --animate-enter-from-left: enterFromLeft 250ms ease;
  --animate-enter-from-right: enterFromRight 250ms ease;
  --animate-exit-to-left: exitToLeft 250ms ease;
  --animate-exit-to-right: exitToRight 250ms ease;

  @keyframes shimmer-button {
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(0, 0);
    }
  }
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes not-so-boring {
    0% {
      opacity: 0;
      filter: brightness(1) blur(20px);
    }
    10% {
      opacity: 1;
      filter: brightness(2) blur(10px);
    }
    100% {
      opacity: 1;
      filter: brightness(1) blur(0);
    }
  }
  @keyframes not-so-boring-two {
    0% {
      opacity: 0;
      filter: brightness(1) blur(5px);
    }
    10% {
      opacity: 1;
      filter: brightness(2) blur(2px);
    }
    100% {
      opacity: 1;
      filter: brightness(1) blur(0);
    }
  }
  @keyframes ken-burns {
    0% {
      opacity: 0;
      clip-path: inset(5%);
      transform: scale(111.11%);
    }
    100% {
      opacity: 1;
      clip-path: inset(0);
      transform: scale(1);
    }
  }
  @keyframes enterFromRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  @keyframes enterFromLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  @keyframes exitToRight {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(100%);
    }
  }
  @keyframes exitToLeft {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes scaleIn {
    from {
      opacity: 0;
      transform: rotateX(-10deg) scale(0.9);
    }
    to {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }
  }
  @keyframes scaleOut {
    from {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }
    to {
      opacity: 0;
      transform: rotateX(-10deg) scale(0.95);
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --framer-accent: rgb(221, 34, 204);
    --motion-accent: #fde900;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 43 96% 56%;
    --primary-foreground: 222.2 84% 4.9%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --framer-accent: rgb(221, 34, 204);
  }
}

@layer utilities {
  ::selection {
    color: #fff;
    background: var(--framer-accent);
  }

  .mask-squircle {
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAwJyBoZWlnaHQ9JzIwMCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNMTAwIDBDMjAgMCAwIDIwIDAgMTAwczIwIDEwMCAxMDAgMTAwIDEwMC0yMCAxMDAtMTAwUzE4MCAwIDEwMCAwWicvPjwvc3ZnPg==);
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAwJyBoZWlnaHQ9JzIwMCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNMTAwIDBDMjAgMCAwIDIwIDAgMTAwczIwIDEwMCAxMDAgMTAwIDEwMC0yMCAxMDAtMTAwUzE4MCAwIDEwMCAwWicvPjwvc3ZnPg==);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (prefers-reduced-motion: no-preference) {
  /* * {
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  } */
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
  }
}

.reveal-trigger:hover + span.after-text,
.reveal-trigger[data-state="open"]:hover + span + .reveal-content[data-state="open"],
.reveal-trigger[data-state="open"]:hover + .reveal-content[data-state="open"] {
  color: var(--motion-accent);
}

.reveal-trigger[data-state="open"]:hover + .reveal-content[data-state="open"] .reveal-trigger {
  border-color: var(--motion-accent);
}

.reveal-trigger:focus + span.after-text,
.reveal-trigger[data-state="open"]:focus + span + .reveal-content[data-state="open"],
.reveal-trigger[data-state="open"]:focus + .reveal-content[data-state="open"] {
  color: var(--motion-accent);
}

.reveal-trigger[data-state="open"]:focus + .reveal-content[data-state="open"] .reveal-trigger {
  border-color: var(--motion-accent);
}

[data-rehype-pretty-code-title] {
  text-align: center;
  color: hsl(var(--muted-foreground));
  font-family: monospace;
}

[data-rehype-pretty-code-fragment] {
  width: 100%;
}

[data-highlighted-chars] {
  background-color: #e7e7e739;
  border-radius: 2px;
  padding: 2px;
}

pre > code {
  counter-reset: line !important;
  overflow-x: auto !important;
}

pre [data-line] {
  border-left-width: 2px;
  border-left-color: transparent;
}

code[data-line-numbers] > [data-line]:before {
  counter-increment: line;
  content: counter(line);
  margin-right: 1rem;
  display: inline-block;
  width: 1rem;
  text-align: right;
  --tw-text-opacity: 1;
  color: rgb(84 88 97 / var(--tw-text-opacity));
}

[data-highlighted-line] {
  background: #c8c8ff1a;
  --tw-border-opacity: 1;
  border-left-color: rgb(96 165 250 / var(--tw-border-opacity));
}

[data-rehype-pretty-code-title] {
  --tw-bg-opacity: 1;
  background-color: rgb(63 63 70 / var(--tw-bg-opacity));
  padding: 0.5rem 0.75rem;
  font-size: 0.7rem;
  line-height: 1.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  text-align: left;
  margin: 0.8rem 0.8rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: rgb(228 228 231 / var(--tw-text-opacity));
}
